

 body {
    font-size: 20px;
    font-weight: 300;
    margin:0 ;
        background-color: whitesmoke;
      }
/* Header Stuff Is Going Here */
header {
    background-color: #2f0000;
    padding: 1rem 2vw;
    }
   header h1 {
            font-size: 36px;
            margin: 0;
            color:#D67D0F;
  }

  header p {
    margin: 0;
    color: #D67D0F;
    letter-spacing: .5px;
  }
    /* nav stuff goes here */
    nav {
        background-color: black;
    }
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #D67D0F;
    font-weight: 400;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #D67D0F;
    color: black;
}
nav a:hover {
    color: white;
}

/* stuff for the main */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #2f0000;
}
main h2 {
    color: #2f0000;
    margin: 0 0 .2rem 0;
}

main p {
    color: black;
    margin: 0 0 .3rem 0;
}

main dl dt {
    color: #2f0000;
    font-weight: 400;
}
main dl dd {
    color: #2f0000;
    font-size: .9rem;
}

main ul {
    list-style-type: disc;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem; 
    font-size: 18px;
}
 figure.wrapped {
        width: 30%;
        margin: 0;
        margin-left: 2%;
        float: right; 
    
    }
    
    figure.wrapped img {
        width: 100%;
        height: auto; 
    }
    
    figure.wrapped figcaption {
        text-align: center;
        font-size: .75rem;
    }
    
    div.gallery {
        display: flex;
        flex-wrap: wrap;
    }
    
    div.gallery figure {   
        margin:.5rem 2% 0 0;
    }
    
    
        div.gallery figcaption {
            text-align: center;
            font-size: .8rem;
            color: #2f0000;
        }
/** Footer Stuff **/
footer {
    background-color: #2f0000;
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: white;
}

