/**prevent problems with different browsers*/
* {box-sizing: border-box;}


 body {
    font-size: 20px;
    font-weight: 300;
    margin:0 ;
    background-color: rgb(245, 245, 245);
      }
/* Header Stuff Is Going Here */
header {
    align-items: center;
    background-color: #2f0000;
    padding: 2rem 3vw;
    display: flex;
    }
header div {
        padding-left: 0.8vw;
    }
   header h1 {
            font-size: 5rem;           
            margin: 0;
            color:#D67D0F;
            font-weight: 700;
            text-align: right;
}


header p {
  margin:0rem;
  color: #D67D0F;
  font-size: 1.22rem;
  letter-spacing: .5px;
  text-align: match-parent;
}

.puzzlelogocolor {
    width: 59;
    height: auto;
}

.puzzlelogocolor img {
    float: right;
}

    /* nav stuff goes here */
    nav {
        background-color: black;
    }
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #D67D0F;
    font-weight: 400;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #D67D0F;
    color: black;
}
nav a:hover {
    color: white;
}
/*small screens*/ 
@media only screen and (max-width: 600px){
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center; 
        border-bottom: solid 1px #aaa;
        color: #8C501B;
    }
    nav .active a {
        background-color: #8C501B;
        background-image: linear-gradient(to bottom, #8C501B, #653a19);
        color: white;
    }
}

/*end of media query*/ 
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #2f0000;
}
main h2 {
    color: #2f0000;
    margin: 0 0 .2rem 0;
}

main p {
    color: black;
    margin: 0 0 .3rem 0;
}

main dl dt {
    color: #2f0000;
    font-weight: 400;
}
main dl dd {
    color: #2f0000;
    font-size: .9rem;
}

main ul {
    list-style-type: disc;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem; 
    font-size: 18px;
}

 figure.wrapped {
        width: 30%;
        margin: 0;
        margin-left: 2%;
        float: right; 
    
    }
    
    figure.wrapped img {
        width: 100%;
        height: auto; 
    }
    
    figure.wrapped figcaption {
        text-align: center;
        font-size: .75rem;
    }


/**FORM**/

        .myForm fieldset {
            border:1px solid #2f0000;
            border-radius: 3px;
            margin-bottom: 1rem;
        }
        
        .myForm legend{
            color: #D67D0F;
            font-size: .10;
        }
        .myForm label {
            margin: .5rem;
        }
        .myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea, .myForm [type=email] { 
            display: block;
        }
        .myForm [type=text], .myForm [type=tell], .myForm select, .myForm textarea
        {
            border: solid 1px #888;
            padding: .3rem;
            width: 250px;
            border-radius: .3rem;
        }
        .myForm textarea {
            height: 120px;
            width: 256;
        }
        
        .myForm :required {
            background-color: rgba(156,51,53,0.1)
        }
        
        .myForm [type=submit] {
            background-color: #D67D0F;
            border: none;
            padding: 1rem 2rem;
            border-radius: 10px;
            color: white;
            margin: 1rem 0 0 1vw;
        }
        
/**GALLERY**/
            .gallery.html {
            width: 100%;
            margin: 0;
            }
        
            .gallery.html img {
            width: 100%;
            height: auto;
             }
        
            .gallery.html {
            display: flex;
            flex-wrap: wrap;
            } 
            .gallery.html section {
            flex-basis: 50%;
            margin: 1rem 0;  
            }
            .gallery.html span {
            display: block;
            text-align: center; 
            font-weight: 700;
            color: #2f0000;
            }
            .gallery.html img {
            width: 98%;
            height: auto;
            }
            .gallery img:hover {
            box-shadow: 6px 6px 10px 1px;
            }
            div.gallery {
                display: flex;
                flex-wrap: wrap;
            }
            
            div.gallery figure {   
                margin:.5rem 2% 0 0;
            }
            
            
                div.gallery figcaption {
                    text-align: center;
                    font-size: .8rem;
                    color: #2f0000;
                }
/** Footer Stuff **/


footer {
    background-color: #2f0000;
    text-align: center;
    color: white;
    padding: 1rem 0;
    font-size: .8rem;
    clear: both;
}
footer a {
    color: white;
}

header, nav, main, footer {
    max-width: 90 rem;
    margin: 0 auto;

}
